/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./app/components/common/Button/Button.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.yaraa-btn.ant-btn {
  display: flex;
  align-items: center;
  height: 37px;
  border-radius: 8px;
  box-shadow: none;
}
.yaraa-btn.ant-btn-primary {
  border: none;
  background: linear-gradient(180deg, #10b2b4 35.61%, #0970aa 209.65%);
}
.yaraa-btn.ant-btn-primary:hover {
  border: none;
  background: linear-gradient(180deg, #2ebabf 35.61%, #2ebabf 209.65%) !important;
}
.yaraa-btn.ant-btn-primary:disabled {
  background: rgb(227, 227, 227) !important;
  color: grey;
  border: 0.5 solid #2e2e2e;
}
.yaraa-btn.ant-btn:disabled {
  background: rgb(227, 227, 227);
  color: grey;
  border: 0.5 solid #2e2e2e;
}
.yaraa-btn.ant-btn-default {
  border: 0.5 solid #2e2e2e;
}
.yaraa-btn.ant-btn-default:hover {
  border: 0.5 solid #0970aa;
  color: #0970aa;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./app/components/common/Input/Input.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ant-input-affix-wrapper {
  border-radius: 8px;
  padding: 8px 12px;
}

.yaraa-input.ant-input {
  font-family: inherit;
  border-radius: 8px;
  padding: 8px 12px;
  min-height: 38px;
}

.yaraa-input.ant-input-group-wrapper {
  min-height: 38px;
}
.yaraa-input.ant-input-group-wrapper .ant-input {
  border-radius: 8px 0 0 8px;
  padding: 8px 12px;
  min-height: 38px;
}

.ant-form.ant-form-vertical .ant-form-item {
  margin-bottom: 14px;
}
.ant-form.ant-form-vertical .ant-form-item-label {
  padding: 0;
}

.ant-select.yaraa-select {
  font-family: "Poppins", sans-serif;
  min-height: 38px;
}
.ant-select.yaraa-select .ant-select-selector {
  border-radius: 8px;
  min-height: 38px;
  padding: 0 12px;
}
.ant-select.yaraa-select .ant-select-selector .ant-select-selection-item,
.ant-select.yaraa-select .ant-select-selector .ant-select-selection-placeholder {
  line-height: 23px !important;
}
.ant-select.yaraa-select .ant-select-selector .ant-select-selection-search-input {
  height: 40px !important;
}

.yaraa-input.ant-picker {
  border-radius: 8px;
  padding: 8px 12px;
}

.treasury-multi-select .ant-select-selector {
  min-height: 40px;
}

.PhoneInput {
  padding-left: 12px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.15s;
}
.PhoneInputInput {
  padding: 8px 12px;
  outline: none;
}
.PhoneInput:has(:focus) {
  border-color: #0fa7b2;
  box-shadow: 0 0 0 2px rgba(8, 168, 155, 0.15);
  outline: 0;
}
.PhoneInput.input-error {
  border-color: #ff4d4f;
}
.PhoneInput.input-error:hover {
  border-color: rgba(255, 77, 79, 0.5019607843);
}
.PhoneInput .PhoneInputCountry {
  padding-right: 8px;
  margin-right: 0;
  border-right: 1px solid #d9d9d9;
}
